.child{
    display: inline-block;
    height: 170px;
    width: 70px;
    background-color: pink;
}
.child3{
    display: inline-block;
    height: 170px;
    width: 960px;
}
.child4{
    display: inline-block;
    height: 170px;
    width: 70px;
    background-color: cyan;
}